  <!-- /.content-wrapper -->
  <footer class="main-footer">
    &copy; <a target="_blank" rel="noopener noreferrer" href="{{ url_for('home_blueprint.index')}}">Calamary</a>
    - coded by <a target="_blank" rel="noopener noreferrer" href="{{ url_for('home_blueprint.index')}}">BEM FK UNDIKSHA</a>
    <div class="float-right d-none d-sm-inline-block">
      <a target="_blank" rel="noopener noreferrer" 
          href="{{ url_for('home_blueprint.index')}}">Calamary v1.0.3</a> 
    </div>
  </footer>
